<h1>Backpack#index</h1>

<% @backpack_list.each do |item| %>
    <div style="float: left; text-align:center; border: 1px solid #<%= item['name_color'] %>">
        <img src="<%= item['icon_url'] %>" /><br/>
        <span style="color:#<%= item['name_color'] %>"><%= item['market_name'] %></span><br/>
        <%= item['wear_value'] %>
    </div>
<% end %>
